sudo: false
language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: true
node_js:
  - '8'
  - '6'
  - '4'
before_install:
  - npm install -g npm@^3.0.0
after_success:
  # custom travis_after_all script under @remy's private gist
  - 'curl -Lo travis_after_all.py https://git.io/vzaBe'
  - python travis_after_all.py
  - 'export $(cat .to_export_back) &> /dev/null'
  - npm run semantic-release
branches:
  except:
    - "/^v\\d+\\.\\d+\\.\\d+$/"
